node_modules/

/util/config.js

../serviceAccountKey.json
/serviceAccountKey.json
/serviceAccountKey
.serviceAccountKey.json

serviceAccountKey.json
./serviceAccountKey
../serviceAccountKey
../serviceAccountKey.json
